body {
  background-color: #062863;
  box-sizing: border-box;
}
.piggy {
  display: grid;
  place-items: center;
  margin-top: 100px;
}
.piggy-container {
  background-color: white;
  margin-top: 40px;
  padding: 30px 40px;
  border-radius: 10px;
  width: 80%;
}
.piggy-top {
  text-align: center;
  margin-top: -10px;
}
.piggy-top h3 {
  font-size: 25px;
  margin-bottom: -10px;
  color: #083e9e;
}
.piggy-top p {
  color: #5a6471;
  font-size: 14px;
}
form {
  margin-top: 30px;
}
.piggy label {
  display: block;
  margin-top: 20px;
  color: #4a5568;
  font-size: 13px;
  margin-bottom: 7px;
}
.piggy input {
  background-color: #edf2f7;
  width: 90%;
  border: none;
  border-radius: 5px;
  padding: 20px 10px;
  font-size: 16px;
}

ul {
  list-style: none;
  border-radius: 9px;
  padding: 0px 10px;
  /* background-color:; */
  flex-direction: column;
  display: none;
}
li {
  padding: 15px 20px;
}
li:hover {
  background-color: #edf2f7;
}
li:first-child {
  background-color: #1e66e4;
  color: white;
}
.piggy-forml h4 {
  /* border: solid #062863; */
  background-color: #edf2f7;
  padding: 20px 13px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.pop {
  width: 20px;
  margin-left: 60%;
}
.piggy-forml label {
  margin-bottom: -15px;
}
.piggy-container button {
  width: 100%;
  background-color: #062b6f;
  font-size: 16px;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
}
.rog {
  text-align: center;
  justify-content: space-around;
}
.rog p {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}
